.card{
    width: 100%;
}

.strip { 
    display: flex;
    justify-content: space-between;
    height: 120px;
    line-height: 120px;
}

.name { 
    font-size: 4rem;
    display: inline-block;
    /* margin-top: 25%;  */
    vertical-align: middle;
    line-height: normal;
    font-family: monospace;
}